layout {
    floating_panes {
        pane {
            width "50%"
            height "50%"
            x "25%"
            y "25%"
            plugin location="file:~/.config/zellij/plugins/zellij_forgot.wasm" {
                "New Pane"      "alt n"
                "Close Pane"    "alt x"
                "New Tab"       "alt t"
                "Close Tab"     "alt T"
                "Rename Tab"    "alt r"
                "Zen Mode"      "alt z"
                "------------"   ""
                "Quit Zellij"   "ctrl q"
            }
        }
    }
}
